
BBox.Analysis/.vs/BBox.Analysis/v14/.suo
/BBox.Analysis/BBox.Analysis/bin/Debug
/BBox.Analysis/BBox.Analysis/obj/Debug
/BBox.Analysis/BBox.Analysis.Configuration/bin/Debug
/BBox.Analysis/BBox.Analysis.Configuration/obj
/BBox.Analysis/BBox.Analysis.Core/bin/Debug
/BBox.Analysis/BBox.Analysis.Core/obj
/BBox.Analysis/BBox.Analysis.Domain/bin
/BBox.Analysis/BBox.Analysis.Domain/obj
/BBox.Analysis/BBox.Analysis.Interface/bin
/BBox.Analysis/BBox.Analysis.Interface/obj
/BBox.Analysis/BBox.Analysis.Processing/bin
/BBox.Analysis/BBox.Analysis.Processing/obj
/InDirectory
/OutDirectory
/OutDirectory.rar
/BBox.Analysis/BBox.Analysis/bin/Release
/BBox.Analysis/BBox.Analysis/obj/Release
/BBox.Analysis/BBox.Analysis.Configuration/bin/Release
/BBox.Analysis/BBox.Analysis.Core/bin/Release
/BBox.Analysis/.vs/BBox.Analysis/v15
/OfficeTracer/.vs/OfficeTracer/v15
/InDirectoryTemp
/BBox.Analysis/BBox.Analysis.WebApi.Client/bin/Debug
/BBox.Analysis/BBox.Analysis.WebApi.Client/obj/Debug
