<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="bBoxAnalysisConfiguration" type="BBox.Analysis.Configuration.BBoxAnalysisConfiguration, BBox.Analysis.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
  <appSettings>
    <add key="InFileDirectory" value="d:\Prise\Solutions\BBox.Analysis\InDirectory\6\" />
    <add key="FileSearchPattern" value="BBOX*.txt" />
    <add key="OutFileDirectory" value="d:\Prise\Solutions\BBox.Analysis\OutDirectory\" />
    <add key="ApiBaseAddress" value="http://localhost:41841/"/>
  </appSettings>
  <bBoxAnalysisConfiguration xmlns="bBox">
    <inFileDirectory value ="d:\Мега\BBox\InDirectory\1\"/>
    <outFileDirectory value="d:\Мега\BBox\OutDirectory\"/>
    <fileSearchPattern value="BBOX*.txt"/>
    <apiBaseAddress value="http://localhost:41841/"/>
    <payments>
      <payment>
        <clientCardType value="None"/>
        <name value="Наличный расчет"/>
        <paymentTypes>
          <paymentType value="CashSettlement"/>
        </paymentTypes>
        <clientType value="PhysicalPerson"/>
      </payment>
      <payment>
        <clientCardType value="None"/>
        <name value="Роснефть"/>
        <paymentTypes>
          <paymentType value="CashSettlement"/>
        </paymentTypes>
        <clientType value="PhysicalPerson"/>
      </payment>
      <payment>
        <clientCardType value="None"/>
        <name value="РосНефть"/>
        <paymentTypes>
          <paymentType value="CashSettlement"/>
        </paymentTypes>
        <clientType value="PhysicalPerson"/>
      </payment>
      <payment>
        <clientCardType value="None"/>
        <name value="Скидка бензин"/>
        <paymentTypes>
          <paymentType value="CashSettlement"/>
        </paymentTypes>
        <clientType value="PhysicalPerson"/>
      </payment>
      <payment>
        <clientCardType value="None"/>
        <name value="Подарочная карта"/>
        <paymentTypes>
          <paymentType value="CashSettlement"/>
        </paymentTypes>
        <clientType value="PhysicalPerson"/>
      </payment>
      <payment>
        <clientCardType value="None"/>
        <name value="Подарочные карты"/>
        <paymentTypes>
          <paymentType value="CashSettlement"/>
        </paymentTypes>
        <clientType value="PhysicalPerson"/>
      </payment>
      <payment>
        <clientCardType value="None"/>
        <name value="Акция 5 литров"/>
        <paymentTypes>
          <paymentType value="CashSettlement"/>
        </paymentTypes>
        <clientType value="PhysicalPerson"/>
      </payment>

      <payment>
        <clientCardType value="None"/>
        <name value="Ведомость"/>
        <paymentTypes>
          <paymentType value="CashlessSettlement"/>
          <paymentType value="Statement"/>
        </paymentTypes>
        <clientType value="LegalEntity"/>
      </payment>
      <payment>
        <clientCardType value="None"/>
        <name value="ведомость"/>
        <paymentTypes>
          <paymentType value="CashlessSettlement"/>
          <paymentType value="Statement"/>
        </paymentTypes>
        <clientType value="LegalEntity"/>
      </payment>

      <payment>
        <clientCardType value="None"/>
        <name value="Регион"/>
        <paymentTypes>
          <paymentType value="CashlessSettlement"/>
        </paymentTypes>
        <clientType value="LegalEntity"/>
      </payment>
      <payment>
        <clientCardType value="None"/>
        <name value="Ликард безнал"/>
        <paymentTypes>
          <paymentType value="CashlessSettlement"/>
        </paymentTypes>
        <clientType value="LegalEntity"/>
      </payment>

      <payment>
        <clientCardType value="None"/>
        <name value="VISA"/>
        <paymentTypes>
          <paymentType value="CashlessSettlement"/>
        </paymentTypes>
        <clientType value="PhysicalPerson"/>
      </payment>
      <payment>
        <clientCardType value="None"/>
        <name value="VISA (ИП Муравьева)"/>
        <paymentTypes>
          <paymentType value="CashlessSettlement"/>
        </paymentTypes>
        <clientType value="PhysicalPerson"/>
      </payment>
      <payment>
        <clientCardType value="None"/>
        <name value="Халва"/>
        <paymentTypes>
          <paymentType value="CashlessSettlement"/>
        </paymentTypes>
        <clientType value="PhysicalPerson"/>
      </payment>
      <payment>
        <clientCardType value="None"/>
        <name value="Home Credit"/>
        <paymentTypes>
          <paymentType value="CashlessSettlement"/>
        </paymentTypes>
        <clientType value="PhysicalPerson"/>
      </payment>

      <payment>
        <clientCardType value="AccountCard"/>
        <name value="Диалог"/>
        <paymentTypes>
          <paymentType value="CashlessSettlement"/>
        </paymentTypes>
        <clientType value="LegalEntity"/>
      </payment>
      <payment>
        <clientCardType value="AccountCard"/>
        <name value="диалог"/>
        <paymentTypes>
          <paymentType value="CashlessSettlement"/>
        </paymentTypes>
        <clientType value="LegalEntity"/>
      </payment>

      <payment>
        <clientCardType value="DiscountCard"/>
        <name value="VISA Переходи на газ!"/>
        <paymentTypes>
          <paymentType value="CashlessSettlement"/>
        </paymentTypes>
        <clientType value="PhysicalPerson"/>
      </payment>
      <payment>
        <clientCardType value="DiscountCard"/>
        <name value="VISA Переходи на ГАЗ!"/>
        <paymentTypes>
          <paymentType value="CashlessSettlement"/>
        </paymentTypes>
        <clientType value="PhysicalPerson"/>
      </payment>
      <payment>
        <clientCardType value="DiscountCard"/>
        <name value="VISA Перходи на газ!"/>
        <paymentTypes>
          <paymentType value="CashlessSettlement"/>
        </paymentTypes>
        <clientType value="PhysicalPerson"/>
      </payment>
      <payment>
        <clientCardType value="DiscountCard"/>
        <name value="VISA Переход на газ!"/>
        <paymentTypes>
          <paymentType value="CashlessSettlement"/>
        </paymentTypes>
        <clientType value="PhysicalPerson"/>
      </payment>
      <payment>
        <clientCardType value="DiscountCard"/>
        <name value="VISA ЛНР"/>
        <paymentTypes>
          <paymentType value="CashlessSettlement"/>
        </paymentTypes>
        <clientType value="PhysicalPerson"/>
      </payment>

      <payment>
        <clientCardType value="DiscountCard"/>
        <name value="ЛНР"/>
        <paymentTypes>
          <paymentType value="CashSettlement"/>
        </paymentTypes>
        <clientType value="PhysicalPerson"/>
      </payment>
      <payment>
        <clientCardType value="DiscountCard"/>
        <name value="Переходи на ГАЗ!"/>
        <paymentTypes>
          <paymentType value="CashSettlement"/>
        </paymentTypes>
        <clientType value="PhysicalPerson"/>
      </payment>
      <payment>
        <clientCardType value="DiscountCard"/>
        <name value="Переходи на Газ!"/>
        <paymentTypes>
          <paymentType value="CashSettlement"/>
        </paymentTypes>
        <clientType value="PhysicalPerson"/>
      </payment>
      <payment>
        <clientCardType value="DiscountCard"/>
        <name value="Переходи на газ!"/>
        <paymentTypes>
          <paymentType value="CashSettlement"/>
        </paymentTypes>
        <clientType value="PhysicalPerson"/>
      </payment>
      <payment>
        <clientCardType value="DiscountCard"/>
        <name value="Переходи на газ"/>
        <paymentTypes>
          <paymentType value="CashSettlement"/>
        </paymentTypes>
        <clientType value="PhysicalPerson"/>
      </payment>

      <payment>
        <clientCardType value="BonusCard"/>
        <name value="Бонусы"/>
        <paymentTypes>
          <paymentType value="CashSettlement"/>
        </paymentTypes>
        <clientType value="PhysicalPerson"/>
      </payment>
      <payment>
        <clientCardType value="BonusCard"/>
        <name value="бонусы"/>
        <paymentTypes>
          <paymentType value="CashSettlement"/>
        </paymentTypes>
        <clientType value="PhysicalPerson"/>
      </payment>

      <payment>
        <clientCardType value="BonusCard"/>
        <name value="VISA бонусы"/>
        <paymentTypes>
          <paymentType value="CashlessSettlement"/>
        </paymentTypes>
        <clientType value="PhysicalPerson"/>
      </payment>
      <payment>
        <clientCardType value="BonusCard"/>
        <name value="VISA Бонусы"/>
        <paymentTypes>
          <paymentType value="CashlessSettlement"/>
        </paymentTypes>
        <clientType value="PhysicalPerson"/>
      </payment>
      <payment>
        <clientCardType value="BonusCard"/>
        <name value="VISA Бонус"/>
        <paymentTypes>
          <paymentType value="CashlessSettlement"/>
        </paymentTypes>
        <clientType value="PhysicalPerson"/>
      </payment>

      <payment>
        <clientCardType value="None"/>
        <name value="Мерник ГАЗ"/>
        <paymentTypes>
          <paymentType value="WithoutPayment"/>
        </paymentTypes>
        <clientType value="Service"/>
      </payment>
      <payment>
        <clientCardType value="None"/>
        <name value="мерник ГАЗ"/>
        <paymentTypes>
          <paymentType value="WithoutPayment"/>
        </paymentTypes>
        <clientType value="Service"/>
      </payment>
      <payment>
        <clientCardType value="None"/>
        <name value="Мерник газ"/>
        <paymentTypes>
          <paymentType value="WithoutPayment"/>
        </paymentTypes>
        <clientType value="Service"/>
      </payment>
      <payment>
        <clientCardType value="None"/>
        <name value="Мерник"/>
        <paymentTypes>
          <paymentType value="WithoutPayment"/>
        </paymentTypes>
        <clientType value="Service"/>
      </payment>
      <payment>
        <clientCardType value="None"/>
        <name value="мерник"/>
        <paymentTypes>
          <paymentType value="WithoutPayment"/>
        </paymentTypes>
        <clientType value="Service"/>
      </payment>
      <payment>
        <clientCardType value="None"/>
        <name value="Скидка для сотрудников"/>
        <paymentTypes>
          <paymentType value="WithoutPayment"/>
        </paymentTypes>
        <clientType value="Service"/>
      </payment>

      <payment>
        <clientCardType value="None"/>
        <name value="Баллоны со скидкой"/>
        <paymentTypes>
          <paymentType value="CashSettlement"/>
        </paymentTypes>
        <clientType value="Other"/>
      </payment>


    </payments>
  </bBoxAnalysisConfiguration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.145" newVersion="1.1.0.145" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
